html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #A5F1E9;
}
main{
  margin-left: 25%;
  margin-right: 25%;
}

.form-signin {
  max-width: 200px;
  padding: 15px;
}


.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.btn{
  width: 80%;
}

/* .login{
  width: 200px;
  height: 200px;
} */