.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
.card-registration .select-arrow {
    top: 13px;
    }
.form-check{
        text-align: left;
    }
.jobless-img{
    padding-bottom: 50px;
}


.form-outline{
    text-align: right;
}

.card{
    background-color:  #ffffff;
}

textarea::placeholder{
    text-align: right;
}

input{
    text-align: right;
}

