.gradient-custom {
    /* fallback for old browsers */
    background: #A5F1E9;
    
    /* Chrome 10-25, Safari 5.1-6 */
     background: -webkit-linear-gradient(to bottom right, rgba(22, 189, 208, 1), rgb(223, 26, 43));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgb(22, 189, 208), rgb(223, 231, 137))
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
    .form-check{
        text-align: left;
    }
.jobless-img{
    padding-bottom: 50px;
}


.form-outline{
    text-align: right;
}

.card{
    background-color:  #FFFBEB;
}

textarea::placeholder{
    text-align: right;
}