
a{
  margin: 10px 10px;
}

.top-container
{
  position: relative;
  background-color: #F8F4EA;
  padding: 50px 0 20px;
  text-align: center;
}

#myjobs-button {
  float: right !important;
  margin-right: 20px !important;
}


.skill-row 
{
width: 50%;
margin: 100px auto 100px auto;
text-align: left;
}


#features{
padding: 7% 15%;
}   

.feature-box{
text-align: center;
padding: 0 50px 50px 0;
}

.icon
{
width: 65%;
border-radius: 100%;
margin: 20px;

}

hr{
border: dotted #E4F9F5 12px;
border-bottom: none;
width: 60%;
margin: 40px auto;
}

.container-fluid
{
padding: 0 15% 0 auto;
}


.jobless-img{
  width: 4%;
  float:right;
  margin: auto;
}

.row
{
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(33.3333% - 20px);
  margin: 10px;
  text-align: right;
}

.card-deck{
  background: #97DECE;
  padding: 10px 20px;
}

h2
{
  text-align: center;
}

h2.h5 {
  text-decoration: underline;
}

/* 
button-contact {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-border-radius: 23;
  -moz-border-radius: 23;
  border-radius: 23px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #497694;
  padding: 9px 20px 10px 20px;
  border: solid #eddfed 2px;
  text-decoration: none;
  transform: translate(-50%, 0);
}

button-contact:hover {
  background: #97DECE;
  text-decoration: none;
} */



.dropdown-item{
  margin-left: 0;
}


.bottom-container
{
   padding: 1rem 0 1rem 0 ;
   text-align: center;
}